{% extends 'base.html' %}
{% load static %}
{% block titte %}Investisseurs{% endblock titte %}

{% block content %}
 <!--? Hero Start -->
 <div class="slider-area2" style="background:#010A1F;">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-20 text-center">
                        <h2 style="color: #ffffff;">Investisseurs</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


{% endblock content %}