asgiref==3.3.1
astroid==2.4.2
chardet==4.0.0
colorama==0.4.4
Django==3.1.4
django-cors-headers==3.6.0
django-filter==2.4.0
django-newsletter==0.9.1
django-tinymce==3.2.0
djangorestframework==3.12.2
isort==5.6.4
lazy-object-proxy==1.4.3
ldif3==3.1.1
mccabe==0.6.1
Pillow==8.0.1
pylint==2.6.0
python-card-me==0.9.3
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
surlex==0.2.0
toml==0.10.2
unicodecsv==0.14.1
wrapt==1.12.1
