{% extends 'base.html' %}
{% load static %}
{% block title %}A Propos de Nous{% endblock title %}

{% block content %} 


    <!--? Hero Start -->
    <div class="slider-area2" style="background:#4A134A;">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2 style="color: #EFB629;">Apropos de Nous</h2> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!--? Services Area Start -->
    <div class="service-area section-padding2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center">
                        <!-- <h2>Présentation du CATSR</h2> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                                <span class="">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Notre Objectif</a></h5>
                            <p>
                                Notre objectif est d’assurer le développement des Petites et Moyennes Entreprises et de créer une classe moyenne en RDC
                                et d’en assurer le bien-être.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-20">
                        <div class="cat-icon">
                            <span class="">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Notre Vision</a></h5>
                            <p>
                                Notre vision est celle d’être une première entreprise congolaise capable de montrer la voie de développement aux Petites
                                et Moyennes Entreprises grâce aux solutions innovantes ; capable de contribuer efficacement à la création et à la
                                consolidation d’une classe moyennes en République Démocratique du Congo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-20">
                            <div class="cat-icon">
                            <span class="">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{% url 'app:about' %}">Notre Spécialité</a></h5>
                            <p>
                                Nous sommes spécialisés dans la création, les stratégies, les suivies-évaluations  et le développement des affaires .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->

    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle">
                            <!-- <span>Entrepreneuriat-Solutions</span> -->
                            <span>QUI SOMMES-NOUS?</span>
                        </div>
                        <p>
                            Nous sommes un cabinet des services, composé des experts spécialisés dans l’innovation et dans les stratégies des
                            développements des Petites et Moyennes Entreprises en République Démocratique du Congo.
                        </p>
                        
                        <div class="section-tittle">
                            <span>QUELS SONT NOS PILIERS?</span>
                        </div>
                            <ul class="unordered-list">
                                <li>L’innovation</li>
                                <li>La formation</li>
                                <li>L’accompagnement</li>
                                <li>La conscientisation</li>
                            </ul>

                        <div class="section-tittle ">
                            <span>POURQOUI TRAVAILLER AVEC NOUS?</span>
                            <!-- <h2>POURQOUI TRAVAILLER AVEC NOUS?</h2> -->
                        </div>
                        <p>
                            Nous offrons les meilleures solutions numériques ou matérielles dont nos clients et notre communauté ont réellement
                            besoin. <br>
                            Oui, des solutions uniques, innovantes et rapides que nous créons sont faites sur mesure et de manière à s’adaptées aux
                            vrais problèmes et au profil du client. <br>
                            Nous offrons ceux qui a de mieux pour le bien-être de notre communauté, nous laissons le client s’exprimer sur ses
                            besoins pour nous permettre d’agir efficacement jusqu’à le satisfaire. <br>
                            Nous accompagnons le client jusqu’à ce que tous nous brillons.

                        </p>
                        
                        <!-- <p>
                            Aujourd’hui en République Démocratique du Congo plus particulièrement à Kinshasa plusieurs 
                            personnes veulent entreprendre, oui beaucoup des petites et moyennes entreprises naissent 
                            chaque jour et malheureusement beaucoup aussi meurt pour la plupart sans même avoir vu les jours.
                            Aujourd’hui bien qu’ils existent ; leurs métiers  et bien encore leurs apport est moins considérer 
                            ici en République Démocratique du Congo. Nous parlons Là des artisans et des consultants pourtant 
                            ce sont des personnes très importantes dont leurs apport dans le développement d’une société est 
                            d’une grande importance qui n’est pas à contester. L’entrepreneuriat en RDC  est malade pourtant 
                            elle est une clef d’un développement économique exponentiel.
                        </p>
                        <p>
                            Comment donc rester indifférent face à cette réalité ?voilà qui nous pousse à mettre en place ce 
                            concept novateur pour sauver l’entrepreneuriat au Congo et faire briller les entrepreneurs ainsi 
                            que leurs entreprises.
                        </p>
                        <p>
                            Sauvé et relever l’économie de notre pays  est une urgence qui s’impose d’où plusieurs questions 
                            méritent donc d’être posées  pour résoudre les différents problèmes qui gangrènent le domaine entrepreneurial
                             au Congo, leurs réponses ses trouvent dans la réalisation de notre  vision <strong>«Entrepreneuriat-Solutions»</strong>  
                             qui est un concept novatrice et qui se veut salutaire pour les entreprises et entrepreneurs congolais de 
                             par sa spécialité et ses objectifs.   
                        </p> -->
                    </div>
                    <a href="{% url 'app:historique' %}" class="btn">Voir l'historique</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img">
                        <div class="about-font-img d-none d-lg-block">
                            <!-- <img src="{% static 'img/gallery/blog1.png' %}" alt="A propos de Entreprise Solutions"> -->
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'img/blog1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!--? Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        {% for team in team_list %}
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            <img src="{{team.img_profile.url}}" alt="{{ team.prenom_nom }}">
                                            <span>{{ team.prenom_nom }}</span>
                                            <p>{{ team.grade }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


{% endblock content %}