{% extends 'base.html' %}
{% load static %}

{% block title %}Historique ES{% endblock %}

{% block content %}

    <!--? Blog Area Start -->
    <section class="blog_area single-post-area pt-5">
        <div class="container">
            <div class="">
                <div class="col-lg-12 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{% static 'img/catsr/historique.jpeg' %}" width="100%" height="300" alt="CATSR">
                        </div>
                        <div class="blog_details">
                            <h2 style="color: #2d2d2d;"></h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-home"></i>38, Avenue Mbanza Ngoma, Q/ Adoula C/ bandalungwa, Ville de Kinshasa, RDC</a></li>
                            </ul>
                            <p class="excert">
                                Créé à Kinshasa le 22 décembre 2006 à la suite d’un séminaire international de formation en travail 
                                social de rue organisée par Dynamo International de 3 au 7 avril de la même année, en vue du suivi des
                                 recommandations formulées lors du séminaire ; 
                                Considérant la Convention de partenariat signée avec Dynamo international le 22 décembre 2006, 
                                la collaboration développée et les activités réalisées en partenariat jusqu’à ce jour ;
                                Prenant en compte les dernières expériences de mise en œuvre du projet de prise en charge des enfants 
                                orphelins vulnérables en situation de rue de Kinshasa, Lubumbashi et Kananga pour la période allant de 
                                juillet 2014 à juin 2016 ; le programme d’accompagnement de la mise en œuvre de la loi portant protection 
                                de l’enfant en R D Congo allant de 2017 à 2021 étendus à trois autres villes de Bukavu, Mbuji-Mayi et Boma 
                                et de toutes les leçons apprises ;
                                Mais aussi, en considération du contrat d’emphytéose signée entre le Ministère des Affaires Sociales 
                                comme propriétaire Cédant d’une part, le CATSR et Dynamo International comme respectivement Cessionnaire et
                                 Concessionnaire d’autre part, pour une durée de 20 ans renouvelable (contrat signé depuis seulement 
                                 le 12 avril 2017) portant sur la cession d’un espace par les Affaires Sociales, la construction par Dynamo 
                                 International du bâtiment qui abrite de Centre d’Accueil d’Urgence « LIKEMO » et les Bureau du Siège Administratif du CATSR et la poursuite des obligations contractuelles par le CATSR ; et par souci de pérenniser la collaboration avec le Ministère National Congolais des Affaires Sociales et continuer à jouer le rôle de service spécialisé et partenaire ; 
                                Vu la nécessité de se conformer aux exigences contextuelles du secteur social et le besoin d’améliorer 
                                son intervention et stratégie opérationnelle à la poursuite de son objet social, le CATSR se trouve obligé 
                                d’actualiser ses statuts, rester plus conforme à la loi n° 004/2001du 20 juillet 2001 portant dispositions 
                                générales applicables aux associations sans but lucratif, et parce que la rue existe, continuer à jouer son 
                                rôle de tisseur des liens.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

{% endblock content %}