{% extends 'base.html' %}
{% load static %}

{% block title %}Historique ES{% endblock %}

{% block content %}

    <!--? Blog Area Start -->
    <section class="blog_area single-post-area pt-5">
        <div class="container">
            <div class="">
                <div class="col-lg-12 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{% static 'img/gallery/blog1.png' %}" width="100%" height="200px" alt="Entrepreneuriat-solutions">
                        </div>
                        <div class="blog_details">
                            <h2 style="color: #2d2d2d;"></h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-home"></i>Gombe, immeuble Kasaï 2è niveau, Ref/Royale, Ville de Kinshasa, RDC</a></li>
                            </ul>
                            <p class="excert">
                                Une startup crée depuis le 01-08-2020, Entrepreneuriat- Solutions dont le siège social se trouve 
                                à Kinshasa, capital de la République Démocratique du Congo .Nous sommes un cabinet des services. 
                                Nous  mettons au centre de nos actions   les entrepreneurs et les entreprises en leurs apportant 
                                des solutions innovantes  pouvant les aider à booster à coups sûr  leur économie .Nous créons des 
                                nouveaux concepts de développement  (technologiques et traditionnels) innovants, nous assurons la 
                                formation professionnelle quotidienne des entrepreneurs et des agents des services afin d’améliorer 
                                la qualité de travail des entreprises. Au-delà d’assurer la promotion de l’entrepreneuriat en 
                                République Démocratique du Congo, nous assurons la communication (numérique et traditionnelle) 
                                interne et externe des entreprises afin de mieux communiquer et vendre super bien l’image de ces 
                                dernières ainsi que de leurs produits commerciaux. L’Entrepreneuriat Solutions, accompagne les 
                                porteurs des projets en apportant son expertise pour l’agencement des idées, l’élaboration des 
                                projets bancables, la rédaction du business plan, facilitation du financement soit en passant 
                                par les banques ou les Angels investisseurs mais aussi en tenant compte des trois types des 
                                financements en vogues. Nous citons :

                                <ul class="excert mb-4">
                                    <li>- LE CROWFUNDING</li>
                                    <li>- CROWDLENDING</li>
                                    <li>- CROWDINVESTING</li>   
                                </ul>
                                

                                <p class="excert">
                                    Nous orientons les entreprises et entrepreneurs pour la meilleure prise des décisions, 
                                    accompagnons dans la défense des projets, dans la négociation des marchés(services commerciaux),
                                    dans l’élaboration des plans des communications internes et externes, dans le management des 
                                    projets, dans la création des entreprises , dans la conception et rédaction des documents 
                                    administratifs ou des communications (statut, contrat de partenariat, affiches, flyers etc.), 
                                    dans l’élaboration des    (communauté des entrepreneurs) et répond aux besoins de sa communauté.
                                    Nos secteurs d’interventions sont :
                                    L’immobilier, le transport, le commerce ,l’investissement ,la banque ,la logistique ,l’assurance 
                                    ,le courtage ,la restauration ,le tourisme, la télécommunication, la mécanique ,l’électronique,
                                    l’électricité ,le numérique ,l’informatique ,l’assainissement ,les mines ,l’industrie ,la 
                                    construction ,l’architecture intérieure ,la communication et média.

                                    « Répondre aux vrais besoins de notre communauté en apportant des bons moyens et des bonnes 
                                    solutions  aux leaders  grâce à des partenariats stratégiques est notre  force.»   
                                </p>
                                

                                <h4 class="text-center mb-4"><strong>BRILLONS ENSEMBLE !</strong></h4>
                                                    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->

{% endblock content %}