{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Commerciales{% endblock dashboard_title %}
{% block dashboard %}

{% for commerciale in commerciale_list %}
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- .card -->
            <div class="card card-figure">
                <!-- .card-figure -->
                <figure class="figure">
                    <!-- .figure-img -->
                    <div class="figure-img">
                        <img class="img-fluid" src="{{ commerciale.img.url }}" height="300px;" width="250px;" alt="{{commerciale.titre}}">
                        <div class="figure-tools">
                            <a href="#" class="tile tile-circle tile-sm mr-auto">
                                <span class="oi-data-transfer-download"></span></a>
                            <span class="badge badge-danger">{{commerciale.secteur|upper}}</span>
                        </div>
                        <div class="figure-action">
                            <a href="{% url 'dashboard:commerciale-detail' commerciale.id %}" class="btn btn-block btn-sm btn-primary">Visitez</a>
                        </div>
                    </div>
                    <!-- /.figure-img -->
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"><a href="#">{{commerciale.titre |truncatewords:30}}</a></h6>
                        <p class="text-muted mb-0">{{commerciale.created | timesince}}</p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% empty %}
    <div class="card">
        <h3 class="card-header">Commerciales</h3>
        <div class="card-body">
            <h4>Merci pour le moment pas d'articles.</h4>
        </div>
    </div>
{% endfor %}

<div class="pagination d-flex justify-content-center py-4">
    <span class="step-links">
        {% if commerciale_list.has_previous %}          
            <a href="?page={{ commerciale_list.previous_page_number }}">page précédente</a>
        {% endif %}

        <span class="current">
        {{ commerciale_list.number }}
        </span>

        {% if commerciale_list.has_next %}
            <a href="?page={{ commerciale_list.next_page_number }}">page suivante</a>
        {% endif %}
    </span>
</div>

{% endblock dashboard %}
