{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Fidelités{% endblock dashboard_title %}
{% block dashboard %}


{% for fidelite in fidelite_list %}
    <div class="card">
        <h4 class="card-header text-danger"><i class="fas fa-fw fa-bell"></i>  {{fidelite.secteur|upper}}</h4>
        <div class="card-body">
            <div class="metric-value d-inline-block">
                <h2 class="mb-1">{{fidelite.titre}}</h2>
            </div>
            <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                {{fidelite.created | timesince}}
            </div>
        </div>
        <div class="card-body text-left bg-light">
            <p>{{fidelite.description|truncatewords:50}}</p>
        </div>
        <!-- <div class="card-footer text-center bg-white">
            <a href="#" class="card-link">View Details</a>
        </div> -->
    </div>

{% empty %}
    <div class="card">
        <h3 class="card-header">Fidelités</h3>
        <div class="card-body">
            <h4>Merci pour votre Inscription mais pour le moment pas d'fidelites pour vous.</h4>
        </div>
    </div>
{% endfor %}

<div class="pagination d-flex justify-content-center py-4">
    <span class="step-links">
        {% if fidelite_list.has_previous %}          
            <a href="?page={{ fidelite_list.previous_page_number }}">page précédente</a>
        {% endif %}

        <span class="current">
        {{ fidelite_list.number }}
        </span>

        {% if fidelite_list.has_next %}
            <a href="?page={{ fidelite_list.next_page_number }}">page suivante</a>
        {% endif %}
    </span>
</div>


{% endblock dashboard %}