{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Levée de fonds{% endblock dashboard_title %}
{% block dashboard %}


{% for fidelite in fidelite_list %}
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- .card -->
            <div class="card card-figure">
                <!-- .card-figure -->
                <figure class="figure">
                    <!-- .figure-img -->
                    <div class="figure-img">
                        <img class="img-fluid" src="{{ fidelites.img.url }}" height="300px;" width="250px;"
                            alt="{{fidelites.titre|truncatewords:20}}">
                        <div class="figure-tools">
                            <a href="#" class="tile tile-circle tile-sm mr-auto">
                                <span class="oi-data-transfer-download"></span></a>
                            <span class="badge badge-danger">{{fidelite.secteur}}</span>
                        </div>
                        <div class="figure-action">
                            <a href="{% url 'dashboard:fidelites-detail' fidelite.id %}"
                                class="btn btn-block btn-sm btn-primary">Voir plus</a>
                        </div>
                    </div>
                    <!-- /.figure-img -->
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"><a
                                href="{% url 'dashboard:fidelites-detail' fidelite.id %}">{{fidelite.titre|truncatewords:20}}</a>
                        </h6>
                        <p class="text-muted mb-0">{{fidelite.created | timesince}}</p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </div>
    </div>

{% empty %}
    <div class="card">
        <h3 class="card-header">Fidelités</h3>
        <div class="card-body">
            <h4>Merci pour votre Inscription mais pour le moment pas d'fidelites pour vous.</h4>
        </div>
    </div>
{% endfor %}

<div class="pagination d-flex justify-content-center py-4">
    <span class="step-links">
        {% if fidelite_list.has_previous %}          
            <a href="?page={{ fidelite_list.previous_page_number }}">page précédente</a>
        {% endif %}

        <span class="current">
        {{ fidelite_list.number }}
        </span>

        {% if fidelite_list.has_next %}
            <a href="?page={{ fidelite_list.next_page_number }}">page suivante</a>
        {% endif %}
    </span>
</div>


{% endblock dashboard %}