{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Formulaire Consultant{% endblock dashboard_title %}
{% block dashboard %}

<div class="card">
    <h3 class="card-header">Remplir le formulaire d'un Consultant</h3>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="company" class="col-form-label">Nom complet du Consultant</label>
                <input name="company" id="company" type="text" class="form-control" placeholder="Nom complet du consultant">
            </div>
            <div class="form-group">
                <label for="secteur" class="col-form-label">Secteur d'activités</label>
                <input name="secteur" id="secteur" type="text" class="form-control" placeholder="Secteur d'activités">
            </div>
            <div class="form-group">
                <label for="specialite" class="col-form-label">Spécialité</label>
                <input name="specialite" id="specialite" type="text" class="form-control" placeholder="Descrivez votre Spécialité">
            </div>
            <div class="form-group">
                <label for="email">Address Email</label>
                <input name="email" id="email" type="email" placeholder="name@example.com" class="form-control">
            </div>
            <div class="form-group">
                <label for="telephone" class="col-form-label">Téléphone</label>
                <input name="telephone" id="telephone" type="number" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-group">
                <label for="telephone_2" class="col-form-label">Téléphone 2</label>
                <input name="telephone_2" id="telephone_2" type="number" class="form-control" placeholder="Téléphone 2">
            </div>
            <div class="custom-file mb-3">
                <input name="logo" id="logo" type="file" class="custom-file-input">
                <label class="custom-file-label" for="logo">Inserez le Logo</label>
            </div>
            <div class="form-group">
                <label for="date" class="col-form-label">Date de debut d'activités</label>
                <input type="text" class="form-control" name="date" id="date" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse physique</label>
                <textarea class="form-control" name="adresse" id="adresse" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Soumettre</button>
        </form>
    </div>
</div>


{% endblock dashboard %}