{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Formulaire Entreprise{% endblock dashboard_title %}
{% block dashboard %}

<div class="card">
    {% include 'notifications/_alerts.html' %}
    <h3 class="card-header">Remplir le formulaire pour votre entreprise</h3>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="company" class="col-form-label">Nom de l'entreprise</label>
                <input name="company" id="company" type="text" class="form-control" placeholder="Nom de l'entreprise">
            </div>
            <div class="form-group">
                <label for="secteur" class="col-form-label">Secteur d'activités</label>
                <input name="secteur" id="secteur" type="text" class="form-control" placeholder="Secteur d'activités">
            </div>
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input name="description" id="description" type="text" class="form-control" placeholder="Description de l'entreprise">
            </div>
            <div class="form-group">
                <label for="email">Address Email</label>
                <input name="email" id="email" type="email" placeholder="name@example.com" class="form-control">
            </div>
            <div class="form-group">
                <label for="telephone" class="col-form-label">Téléphone</label>
                <input name="telephone" id="telephone" type="number" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-group">
                <label for="telephone_2" class="col-form-label">Téléphone 2</label>
                <input name="telephone_2" id="telephone_2" type="number" class="form-control" placeholder="Téléphone 2">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="logo">Inserez le Logo</label>
                <input type="file" class="form-control" name="logo" id="logo">
            </div>
            <div class="form-group">
                <label for="rccm" class="col-form-label">RCCM</label>
                <input name="rccm" id="rccm" type="text" class="form-control" placeholder="RCCM">
            </div>
            <div class="form-group">
                <label for="id_nat" class="col-form-label">ID Nat.</label>
                <input name="id_nat" id="id_nat" type="text" class="form-control" placeholder="ID Nat">
            </div>
            <div class="form-group">
                <label for="date" class="col-form-label">Date de création</label>
                <input type="text" class="form-control" name="date" id="date" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse physique</label>
                <textarea class="form-control" name="adresse" id="adresse" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-warning btn-lg btn-block">Soumettre</button>
            <!-- <input type="submit" value="Soumettre"
                                class="btn header-btn btn-rounded btn-4 font-weight-semibold mx-auto btn-v-4 btn-h-5"
                                name="submit_button" id="submit_button"
                                data-loading-text="Loading..."> -->
        </form>
    </div>
</div>


{% endblock dashboard %}