{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Formulaire pour partenaires{% endblock dashboard_title %}
{% block dashboard %}

<div class="card">
    {% include 'notifications/_alerts.html' %}
    <h3 class="card-header">Remplir le formulaire de parteneuriat</h3>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="company" class="col-form-label">Nom du partenaire</label>
                <input name="company" id="company" type="text" class="form-control" placeholder="Nom du partenaire">
            </div>
            <div class="form-group">
                <label for="type" class="col-form-label">Type de parteneuriat</label>
                <input name="type" id="type" type="text" class="form-control" placeholder="Type de parteneuriat">
            </div>
            <div class="form-group">
                <label for="secteur" class="col-form-label">Secteur d'activités</label>
                <input name="secteur" id="secteur" type="text" class="form-control" placeholder="Secteur d'activités">
            </div>
            <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <input name="description" id="description" type="text" class="form-control" placeholder="Descrire le type de parteneuriat">
            </div>
            <div class="form-group">
                <label for="email">Address Email</label>
                <input name="email" id="email" type="email" placeholder="name@example.com" class="form-control">
            </div>
            <div class="form-group">
                <label for="telephone" class="col-form-label">Téléphone</label>
                <input name="telephone" id="telephone" type="number" class="form-control" placeholder="Téléphone">
            </div>
            <div class="form-group">
                <label for="telephone_2" class="col-form-label">Téléphone 2</label>
                <input name="telephone_2" id="telephone_2" type="number" class="form-control" placeholder="Téléphone 2">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="logo">Inserez le Logo</label>
                <input type="file" class="form-control" name="logo" id="logo">
            </div>
            <div class="form-group">
                <label for="adresse">Adresse physique</label>
                <textarea class="form-control" name="adresse" id="adresse" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Soumettre</button>
        </form>
    </div>
</div>


{% endblock dashboard %}