{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %} {{ opportunite.titre }} {% endblock dashboard_title %}
{% block dashboard %}

<div class="card d-flex flex-row bd-highlight mb-3 p-4">

    <div class="form-froup row" style="width: 60%;">
    
        <div class="col-sm-10">
          <h2>{{ opportunite.titre }}</h2>  
        </div>
        <div class="col-sm-10">
           <h4>Secteur: {{ opportunite.secteur }}</h4> 
        </div>
        <div class="col-sm-10 pb-3">
            <h4>Description:</h4>
           <p>{{ opportunite.description }}</p> 
        </div>

        <div class="col-sm-10 pb-3">
            <h4>Email:</h4>
           <p>{{ opportunite.email }}</p> 
        </div>

        
        <div class="col-sm-10 pb-5">
            <h4>Téléphone:</h4>
            <p>{{ opportunite.telephone }}</p>  
        </div>

        <div class="col-sm-10">
           <p>Il y a {{ opportunite.created| timesince }}</p> 
        </div>
    
    </div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
        <img src="{{ opportunite.img.url }}" height="250px;" width="200px;">
        <!-- <input type="file" (change)="uploadPhoto($event)" class="mt-2"/> -->
    </div>
</div>
    



{% endblock dashboard %}