{% extends 'pages/dashboard/dashboard.html' %}
{% load static %}
{% block dashboard_title %}Opportunités{% endblock dashboard_title %}
{% block dashboard %}


{% for opportunite in opportunite_list %}
    <div class="card">
        <h4 class="card-header text-danger"><i class="fas fa-fw fa-bell"></i>  {{opportunite.secteur|upper}}</h4>
        <div class="card-body">
            <div class="metric-value d-inline-block">
                <h2 class="mb-1">{{opportunite.titre}}</h2>
            </div>
            <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                {{opportunite.created | timesince}}
            </div>
        </div>
        <div class="card-body text-left bg-light">
            <p>{{opportunite.description|truncatewords:50}}</p>
        </div>
        <div class="card-footer text-center bg-white">
            <a href="{% url 'dashboard:opportunites-detail' opportunite.id %}" class="card-link">Voir Details</a>
        </div>
    </div>

{% empty %}
    <div class="card">
        <h3 class="card-header">Opportunités</h3>
        <div class="card-body">
            <h4>Merci pour votre Inscription mais pour le moment pas d'opportunités pour vous.</h4>
        </div>
    </div>
{% endfor %}

<div class="pagination d-flex justify-content-center py-4">
    <span class="step-links">
        {% if opportunite_list.has_previous %}          
            <a href="?page={{ opportunite_list.previous_page_number }}">page précédente</a>
        {% endif %}

        <span class="current">
        {{ opportunite_list.number }}
        </span>

        {% if opportunite_list.has_next %}
            <a href="?page={{ opportunite_list.next_page_number }}">page suivante</a>
        {% endif %}
    </span>
</div>

{% endblock dashboard %}