{% extends 'base.html' %}
{% load static %}
{% block title %}404{% endblock title %}

<!-- {% block error %}
    <link rel="stylesheet" href="{% static 'css/error-not-found.css' %}">
{% endblock error %} -->

{% block content %}

 <!--? Hero Start -->
 <div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-20 text-center">
                        <h2 style="color: #ffffff;">404</h2>
                    </div>
                    <p>
                        Peut-être que cette page a été déplacée? Ou a été supprimé? Ou encore il N'a jamais existé en premier lieu?
                    </p>
                    <p>Repartez de zéro <a href="{% url 'solutions:entreprise_solution' %}">Acceuil</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- <div class="error">
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">
            Peut-être que cette page a été déplacée? Vous avez été supprimé? Est
            se cacher en quarantaine? N'a jamais existé en premier lieu?
            <p>Repartez de zéro <a href="{% url 'solutions:entreprise_solution' %}">Acceuil</a>.</p>
        </div>
    </div> 
</div> -->


{% endblock content %}