{% extends 'base.html' %}
{% load static %}
{% block title %}Erreur 500{% endblock title %}

<!-- {% block error %}
    <link rel="stylesheet" href="{% static 'css/error-not-found.css' %}">
{% endblock error %} -->

{% block content %}

 <!--? Hero Start -->
 <div class="slider-area2" style="background:#010A1F;">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-20 text-center">
                        <h2 style="color: #ffffff;">500</h2>
                    </div>
                    <p>
                        Oups!! Server indique qu'il a rencontré un 
                         problème inattendu qui l'empêche de répondre à votre requête.
                    </p>
                    <p>Repartez de zéro <a href="{% url 'solutions:entreprise_solution' %}">Acceuil</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- <div class="error">
    <div class="mainbox">
        <div class="err">5</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">0</div>
        <div class="msg">
            Oups!! Server indique qu'il a rencontré un 
            problème inattendu qui l'empêche de répondre à votre requête.
            <p>Repartez de zéro <a href="{% url 'solutions:entreprise_solution' %}">Acceuil</a>.</p>
        </div>
    </div> 
</div> -->



{% endblock content %}