{% extends 'base.html' %}
{% load static %}
{% block title %}Produits{% endblock title %}

{% block content %}
 <!--? Hero Start -->
 <div class="slider-area2" data-background="{% static 'img/es.jpg' %}">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-20 text-center">
                        <h2 style="color: #EFB629;">Nos produits</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <!-- <h3 class="mb-30">Nos produits</h3> -->
            <div class="row">
                {% for produit in produit_list %}
                    <div class="col-md-4 mb-50">
                        <div class="single-defination">
                            <a href="{% url 'produits:product_detail' produit.slug %}"><h2 class="font-weight-bold mb-20">{{ produit.titre }} </h2></a>
                            <p>
                                {{ produit.resume|truncatewords:30}}
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, il y a aucun produit ici</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
