{% extends 'base.html' %}
{% load static %}
{% block title %}Solutions Artisans{% endblock title %}
{% block solutions %}
   <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock solutions %}


{% block content %}

       <!--? Hero Start -->
       <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <div class="search-solutions">
                                <div class="container search">
                                    <form class="example" action="">
                                        <input type="text" name="q" placeholder="Recherche un artisan..">
                                        <button type="submit" value="{{ query|escape }}"><i class="fa fa-search"></i></button>
                                    </form>
                                    {% with request.resolver_match.url_name as url_name %}
                                        <ul class="nav d-flex justify-content-center m-5">
                                            <li class="nav-item">
                                                <a id="menu-solution" class="nav-link btn btn-outline-warning {% if url_name == 'entreprise_solution' %}active{% endif %}" href="{% url 'solutions:entreprise_solution' %}">Entreprises</a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="menu-solution" class="nav-link btn btn-outline-warning {% if url_name == 'artisans_solution' %}active{% endif %}" href="{% url 'solutions:artisans_solution' %}">Artisans</a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="menu-solution" class="nav-link btn btn-outline-warning {% if url_name == 'consultant_solution' %}active{% endif %}" href="{% url 'solutions:consultant_solution' %}">Consultants</a>
                                            </li>
                                        </ul>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center"></div>
    </div>

    <!-- Featured_job_start -->
    {% if query %}
        {% if results %}

            <section class="featured-job-area section-padding10 section-bg2" data-background="{% static 'img/gallery/section_bg03.png' %}">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle text-center mb-20">
                                <h2>Résultat obtenus sur les artisants</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        {% for item in results %}
                            <div class="col-lg-9 col-md-12">
                                <!-- single-job-content -->
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                            <a href="{% url 'solutions:artisans_solution_detail' item.id %}"><img src="{{ item.logo_artisans.url }}" alt="{{ item.nom }}"></a>
                                        </div>
                                        <div class="job-tittle">
                                            <a href="{% url 'solutions:artisans_solution_detail' item.id %}"><h4>{{ item.nom|escape }}</h4></a>
                                            <ul>
                                                <li><i class="far fa-sort-amount-down"></i>{{ item.secteur_artisans }}</li>
                                                <li><i class="fas fa-phone"></i>{{ item.telephone_artisans }}</li>
                                                <li><i class="fas fa-envelope"></i>{{ item.email_artisans }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </section>

        {% else %}

            <section class="featured-job-area section-padding30 section-bg2" data-background="{% static 'img/gallery/section_bg03.png' %}">
                
                <div class="container">
                    <div class="row justify-content-center">
                        <p>😒😒😒 Désolé, votre recherche ne donne rien. Essayer autre chose</p>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endif %} 

    <!-- Featured_job_end -->
{% endblock content %}
