{% load static %}

<div class="header-area">
    <div class="main-header ">
        <div class="header-top d-none d-lg-block">
            <div class="container-fluid">
                <div class="col-xl-12">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="header-info-left d-flex">
                            <ul>
                                <li>Phone: +243 81 376 31 19</li>
                                <li>Email: contact@entrepeunariat.solutions</li>
                            </ul>
                            <div class="header-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-info-right d-flex align-items-center">
                            <div class="select-this">
                                <form action="#">
                                    <div class="select-itms">
                                        <select name="select" id="select1">
                                            <option value="">Français</option>
                                            <option value="">English</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <ul class="contact-now">     
                                <li><a href="{% url 'app:contact' %}">Souscris maintenant</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{% url 'solutions:entreprise_solution' %}"><img src="{% static 'img/logo/logo.png' %}" alt="entreprise_solution"></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                {% with request.resolver_match.url_name as url_name %}
                                    <nav>
                                        <ul id="navigation">
                                            <li class="{% if url_name == 'entreprise_solution' %}active{% endif %}"><a href="{% url 'solutions:entreprise_solution' %}">Solutions</a></li>
                                            <li class="{% if url_name == 'login' %}active{% endif %}"><a href="{% url 'produits:produits' %}">Produits</a></li>
                                            <li class="{% if url_name == 'partenaires' %}active{% endif %}"><a href="{% url 'partenaires:partenaires' %}">Partenaires</a></li>
                                            <li class="{% if url_name == 'docs' %}active{% endif %}"><a href="{% url 'docs:docs' %}">Documentations</a></li>
                                            {% if not request.user.is_authenticated %}
                                            <li class="{% if url_name == 'login' %}active{% endif %}"><a href="{% url 'login' %}">connexion</a></li>
                                            <li class="{% if url_name == 'register' %}active{% endif %}"><a href="{% url 'register' %}">Inscription</a></li>
                                            {% else %}
                                            <li class="{% if url_name == 'dashboard:dashboard' %}active{% endif %}"><a href="{% url 'dashboard:dashboard' %}">tableau de bord</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endwith %}
                            </div>
                            <!-- Header-btn -->
                            <div class="header-right-btn d-none d-lg-block ml-20">
                                <a href="{% url 'app:contact' %}" class="btn header-btn">Contactez-nous</a>
                            </div>
                        </div>
                    </div> 
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
